{% extends "socialaccount/base.html" %}
{% load i18n static %}

{% block head %}
<link href="{% static 'account/css/login.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block head_title %}{% trans "Pulse: Connect your social account" %}{% endblock %}

{% block main_title %}{% trans "Connect a Social Account" %}{% endblock %}

{% block content %}
<p class="mt-3">Sign in below to connect a new social account to your Pulse account</p>
{% include "socialaccount/snippets/social-buttons.html" with process="connect" scope=scope auth_params=auth_params %}

{% include "socialaccount/snippets/login_extra.html" %}
{% endblock %}
