{% extends "base.html" %}
{% load static i18n socialaccount pulse_auth %}

{% block head %}
<link href="{% static 'account/css/login.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block head_title %}{% trans "Sign in to Pulse" %}{% endblock %}

{% block main_title %}
{% signin_before_connect as show_social_connection_text %}
{% if show_social_connection_text %}
{% trans "An Account With This Email Exists" %}
{% endif %}
{% endblock %}

{% block content %}
{% signin_before_connect as show_social_connection_text %}
{% if show_social_connection_text %}
{% get_login_attempt_provider_name as provider_name %}
<p class="mt-3">{% blocktrans %}Looks like there already is a Pulse account with the same email address that is used by your {{ provider_name }} account.{% endblocktrans %}</p>
<p>{% blocktrans %}Before linking your {{ provider_name }} account to Pulse, please sign in to your existing Pulse account below.{% endblocktrans %}</p>
{% else %}
<p class="mt-3">{% trans "Hey there! Sign in to start posting content on Pulse" %}</p>
{% endif %}

{% get_login_attempt_provider_name as provider_name %}
{% include "socialaccount/snippets/social-buttons.html" with process="login" exclude=provider_name %}
{% endblock %}

{% block bottom_panel_content %}<p class="bottom-note">{% blocktrans %}By creating/having an account, you agree to <a href="https://www.mozilla.org/en-US/about/legal/terms/mozilla/">Mozilla's Terms of Service</a>{% endblocktrans %}</p>{% endblock %}

{% block footer %}<!-- Don't show the footer for this page -->{% endblock %}
