{% extends "base.html" %}
{% load static i18n pulse_auth %}

{% block head_title %}{% trans "Pulse: Verify your E-mail" %}{% endblock %}

{% block main_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
{% get_email_verification_sender as email_verification_sender %}
<p class="mt-3">{% blocktrans %}Before you continue, we need you to verify your email address connected to your social account. Please follow the link in the email sent by <em>{{ email_verification_sender }}</em> to complete the verification process.{% endblocktrans %}</p>
{% endblock %}

{% block bottom_panel_content %}
{% get_pulse_contact_url as contact_url %}
<p class="bottom-note">{% blocktrans %}Haven't received the email? Check your spam folder or <a href="{{ contact_url }}" target="__blank">contact us</a>!{% endblocktrans %}</p>
{% endblock %}
