{% load static i18n socialaccount pulse_auth %}

{% is_review_app as review_app %}
<div class="social-buttons">
  {% with auth_process=process|default:"login" excluded_provider=exclude|lower %}
  {% if review_app %}
  {% if excluded_provider != 'google' %}
  <a href="{% provider_login_url 'google' process=auth_process scope=scope auth_params=auth_params %}">
    <button class="btn social-google pr-3">
      <img class="social-icon" src="{% static 'account/img/google-icon-normal.svg' %}">
      {% trans "Sign in with Google" %}
    </button>
  </a>
  {% endif %}
  {% if excluded_provider != 'github' %}
  <a href="{% provider_login_url 'github' process=auth_process scope=scope auth_params=auth_params %}">
    <button class="btn social-github pr-3">
      <img class="social-icon" src="{% static 'account/img/github-icon.svg' %}">
      {% trans "Sign in with GitHub" %}
    </button>
  </a>
  {% endif %}
  {% endif %}
  {% is_next_url_admin as show_superuser_login %}
  {% if show_superuser_login and auth_process == 'login' %}
  <a href="{% url 'admin:login' %}" class="d-none">
    <button class="btn social-admin pr-3">
      <img class="social-icon" src="{% static 'account/img/admin-icon.svg' %}">
      {% trans "Sign in with Django <br> Admin" %}
    </button>
  </a>
  {% endif %}
  {% endwith %}
</div>
