[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
dj-database-url = "*"
Django = "==1.11.18"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-ajax-selects = "==1.7.0"
django-environ = "*"
django-filter = "==1.1"
django-storages = "*"
djangorestframework = "==3.5.3"
factory_boy = "*"
Faker = "*"
google-api-python-client = "==1.7.7"
gunicorn = "*"
oauth2client = "==4.0.0"
Pillow = "*"
requests = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
django-allauth = "*"

[dev-packages]
autoflake = "*"
docutils = "*"
flake8 = "*"
pgcli = "*"

[requires]
python_version = "3.6"
