[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2-binary" = "*"
boto3 = "*"
dj-database-url = "*"
Django = "==1.11.23"
django-ajax-selects = "==1.7.1"
django-allauth = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-filter = "==1.1"
django-storages = "*"
djangorestframework = "==3.9.4"
factory_boy = "*"
Faker = "*"
google-api-python-client = "*"
gunicorn = "*"
oauth2client = "*"
Pillow = "*"
requests = "*"
whitenoise = "*"

[dev-packages]
autoflake = "*"
docutils = "*"
flake8 = "*"
pgcli = "*"

[requires]
python_version = "3.6"
