[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "*"
attrs = "*"
boto3 = "*"
dj-database-url = "*"
Django = "==1.11.13"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-filter = "==1.1"
django-storages = "*"
djangorestframework = "==3.5.3"
google-api-python-client = "==1.5.5"
gunicorn = "*"
oauth2client = "==4.0.0"
Pillow = "*"
psycopg2 = "==2.7.3.2"
requests = "*"
whitenoise = "*"

[dev-packages]
autoflake = "*"
docutils = "*"
factory_boy = "*"
Faker = "*"
flake8 = "*"
pgcli = "*"

[requires]
python_version = "3.6"
