boto3
dj-database-url
Django==2.2.13
django-cors-headers
django-debug-toolbar
django-ajax-selects==1.9.1
django-environ
django-filter==2.4.0
django-storages
djangorestframework==3.11.0
factory_boy
Faker
google-api-core=1.18.0
google-api-python-client==1.9.0
gunicorn
Pillow==8.3.2
protobuf==3.12.2
requests
whitenoise
psycopg2-binary
django-allauth==0.42.0
oauth2client
