boto3
dj-database-url
django-ajax-selects==1.9.1
django-allauth>=0.54.0
django-cors-headers
django-debug-toolbar
django-environ
django-filter==2.4.0
django-storages
Django==2.2.13
djangorestframework==3.11.0
factory_boy
Faker
google-api-core==1.18.0
google-api-python-client==1.9.0
gunicorn
oauth2client
Pillow==8.3.2
protobuf==3.12.2
psycopg2-binary
requests
whitenoise
