click==6.6
configobj==5.0.6
Django==1.10.3
django-filter==1.0.0
djangorestframework==3.5.3
humanize==0.5.1
pgcli==1.3.1
pgspecial==1.6.0
prompt-toolkit==1.0.9
psycopg2==2.6.2
Pygments==2.1.3
setproctitle==1.1.10
six==1.10.0
sqlparse==0.2.2
wcwidth==0.1.7
