boto3
dj-database-url
Django==2.2.19
django-cors-headers
django-debug-toolbar
django-ajax-selects==1.9.1
django-environ
django-filter==2.4.0
django-storages
djangorestframework==3.11.0
factory_boy
Faker
google-api-python-client
gunicorn
Pillow
requests
whitenoise
psycopg2-binary
django-allauth==0.42.0
oauth2client
