/*
 * Pulse API base CSS rules
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  font-family: "Nunito Sans", sans-serif;
}

footer {
  flex-shrink: 0;
}

#main {
  flex: 1 0 auto;
  min-height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main .panel {
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  padding: 50px 0;
}

.main-logo {
  width: 80%;
  max-width: 340px;
  margin-bottom: 26px;
}

#main .panel-content {
  max-width: 75%;
  margin: 20px auto 0;
}

.panel-content .main-title {
  color: #000;
  font-family: "Zilla Slab", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  width: 75%;
  margin: 0 auto;
}

.panel-content .body-text {
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.panel-content .sign-in {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  color: #000;
}

.bottom-note {
  max-width: 60%;
  margin: 48px auto 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: #999999;
}

.bottom-note-link {
  color: #0d10bf;
  text-decoration: none;
}

.bottom-note-link:hover,
.bottom-note-link:active,
.bottom-note-link:focus {
  color: #0d10bf;
  text-decoration: underline;
}

@media (min-width: 575px) {
  body {
    background: rgb(242, 242, 242);
  }
  
  .panel-content .body-text {
    width: 80%;
  }
}

@media (max-width: 575.98px) {
  body {
    padding: 5% 0;
  }

  #main {
    background: #fff;
    padding: 0;
  }

  #main .panel {
    padding: 0;
  }

  #main .panel-content, .bottom-note {
    max-width: 75%;
  }
}
