{% load static i18n pulse_auth %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block head_title %}{% trans "Mozilla Pulse API" %}{% endblock %}</title>
  <link href="https://www.mozillapulse.org/css/mofo-bootstrap.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="https://code.cdn.mozilla.net/fonts/zilla-slab.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,300,700,300i">
  <link href="{% static 'users/css/root.css' %}" rel="stylesheet" type="text/css">
  {% block head %}
  {% endblock %}
</head>
<body>
  <div id="main" class="container">
    <div class="main-container">
      <div class="panel">
        <img class="main-logo" src="{% block logo_url %}{% static 'account/img/pulse-logo.svg' %}{% endblock %}">
        <div class="panel-content">
          <p class="main-title">{% block main_title %}{% trans "Welcome to the Mozilla Pulse API Service" %}{% endblock %}</p>
          {% block review_app_warning %}
          {% is_review_app as review_app %}
          {% if review_app %}
          {% blocktrans %}<p>Hi! OAuth is not available on Review Apps.<br>Read the <a href="https://github.com/mozilla/network-pulse-api#review-app">review app documentation</a> if you need administrator access.</p>{% endblocktrans %}
          {% endif %}
          {% endblock %}
          {% block content %}{% endblock %}
        </div>
        {% block bottom_panel_content %}{% endblock %}
      </div>
    </div>
  </div>
  {% block footer %}
  {% endblock %}
</body>
