.autocomplete-container {
  display: flex;
}

.autocomplete-input-container {
  display: flex;
  flex-direction: column;
}

.autocomplete-input-container .addlink {
  height: auto;
  width: 300px;
  margin-top: 3px;
}

.ui-autocomplete-input {
  align-self: flex-start;
  min-width: 300px;
}

.ui-autocomplete-input ~ .help {
  order: 1;
  padding: 0 !important;
  margin: 35px 0 0 -157px !important;
  align-self: flex-start;
}

.results_on_deck {
  display: inline-block;
  border: 1px solid rgb(204, 204, 204);
  margin-left: 10px !important;
  padding: 3px 10px !important;
  order: 3;
}
