{% if user.is_authenticated %}
<p>Hello {{user.email}}! Would you like to go to the <a href="admin">admin interface</a> or <a href="logout">log out</a>?</p>
{% else %}
    <p>Not logged in. Want to <a id="loginLink">log in</a>?</p>
    <script>
    var domain = window.location.toString();
    var link = document.getElementById('loginLink')
    var adminlink = `/login?original_url=${domain}admin`;
    // odd double slash issue
    adminlink = adminlink.replace('//admin','/admin');
    link.setAttribute('href', adminlink);
    </script>
{% endif %}
